.wrapper {
    padding: 30px;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, -50%);
}

